
@if(this.miGithub){
    <div class="about-wrapper">
        <div class="about-container">
            <h1 class="title">ABOUT <span>ME</span></h1>
            <p class="subtitle">
            A web developer designs and creates websites and web applications, ensuring functionality, user experience, and responsiveness.
            </p>

            <div class="about-content">
            <div class="profile-image">
                <img [src]="miGithub.resultado.avatar_url" alt="Profile" />
            </div>
            <div class="about-text">
                <h2>Hello!! I am <span>{{miGithub.resultado.name}}</span></h2>
                <p>
                A web developer is a professional responsible for creating and maintaining websites. They possess a strong command
                of programming languages such as HTML, CSS, and JavaScript, using these tools to design and build user-friendly
                and visually appealing websites.
                </p>

                <ul>
                <li><strong>Nombre :</strong> {{miGithub.resultado.name}}</li>
                <li><strong>Edad :</strong> 35</li>
                <li><strong>celular :</strong> +91 XXXXXXXXXXX</li>
                <li><strong>Mail :</strong> laurelexample.com</li>
                <li><strong>Ubicacion :</strong> {{miGithub.resultado.location}}</li>
                </ul>
            </div>
            </div>
        </div>
    </div>

}
