@if(this.formGroup){

    <div class="login-page">

        <div class="form">

            <h1> Registro </h1>

            <form class="register-form" [formGroup]="this.formGroup">

                <input formControlName="nombre" type="text" placeholder="Nombre"/>
                @if(this.identificarErrores(this.nombre,"nombre")){
                    <p>{{errorNombre}}</p>
                }
                <input formControlName="apellido"  placeholder="Apellido"/>
                @if(this.identificarErrores(this.apellido,"apellido")){
                    <p>{{errorApellido}}</p>
                }
                <input formControlName="edad" type="text" placeholder="Edad"/>
                @if(this.identificarErrores(this.edad,"edad")){
                    <p>{{errorEdad}}</p>
                }

                <button (click)="registrarUsuario()">Registrarse</button>
                
                <p class="message">Ya estas registrado? <a routerLink="/login">Iniciar sesion</a></p>
            </form>
        
        </div>
    </div>

}


