<nav class="navbar">
  <h1 class="logo">Sala de Juegos</h1>
  <div class="nav-buttons">
    
    <button class="nav-button" routerLink="/sobre-mi"> ¿Quien soy?</button>
    @if(!auth.nombreLogueado()){
      <button class="nav-button" routerLink="/login">Iniciar Sesión</button>
      <button class="nav-button" routerLink="/registro">Registro</button>
    }@else{
      <button class="nav-button" (click)="cerrarSesion()">cerrar Sesion</button>
      <p class="user-info">Usuario: {{auth.nombreLogueado()}}</p>
    }
    
  </div>
</nav>

<main class="game-section">
  <section class="game-card">
    <img [src]="urlAhorcado" alt="Juego 1" />
    <h2>Ahorcado</h2>
    <button class="play-button" routerLink="/ahorcado">Jugar</button>
  </section>

  <section class="game-card">
    <img [src]="urlPreguntados" alt="Juego 2" />
    <h2>Preguntados</h2>
    <button class="play-button" routerLink="/preguntados">Jugar</button>
  </section>

  <section class="game-card">
    <img [src]="urlMayorMenor" alt="Juego 3" />
    <h2>Mayor o menor</h2>
    <button class="play-button" routerLink="/mayor-menor">Jugar</button>
  </section>

  <section class="game-card">
    <img [src]="urlMusica" alt="Juego 4" />
    <h2>Music Quiz</h2>
    <button class="play-button">Jugar</button>
  </section>
</main>
