<div class="login-page">
    <div class="form">
        <h1> Iniciar sesion </h1>
      <form class="login-form" [formGroup]="this.formGroup">
        <input formControlName="nombre" type="text" placeholder="Nombre"/>
        @if(identificarErrores(this.Nombre,"nombre")){
          <p>{{tipoError}}</p>
        }
        <input formControlName="apellido" type="text" placeholder="Apellido"/>
        @if(identificarErrores(this.Apellido,"apellido")){
          <p>{{tipoError}}</p>
        }
        <button (click)="logearse()">Iniciar Sesion</button>
        <p class="message">No estas registrado? <a routerLink="/registro">Crea una cuenta</a></p>
      </form>
    </div>
  </div>
