<div class="login-page">
    <div class="form">
        <h1> Iniciar sesion </h1>
      <form class="login-form" [formGroup]="this.formGroup">
        <input formControlName="mail" type="text" placeholder="Ingrese mail"/>
        @if(identificarErrores(this.mail,"mail")){
          <p class="error-text">{{errorMail}}</p>
        }
        <input formControlName="contra" type="text" placeholder="Ingrese contraseña"/>
        @if(identificarErrores(this.contra,"contra")){
          <p class="error-text">{{errorContra}}</p>
        }

        <div class="test-buttons">
          <button type="button" (click)="autocompletar('test1')">Test1</button>
          <button type="button" (click)="autocompletar('test2')">Test2</button>
          <button type="button" (click)="autocompletar('test3')">Test3</button>
        </div>
        <button (click)="logearse()">Iniciar Sesion</button>
        
        @if(authService.sesionEncontrada() == false) {
          <p class="global-error">El mail o contraseña son incorrectos</p>
        }
        <p class="message">No estas registrado? <a routerLink="/registro">Crea una cuenta</a></p>
      </form>
    </div>
  </div>
