<nav class="navbar">
    <h1 class="game-title">Mayor o menor</h1>
    <p class="timer">⏳ Tiempo restante: {{ reloj() * 1000 | date:'mm:ss' }}</p>
    <div class="nav-actions">
        <button class="nav-button" (click)="reiniciar()">Reiniciar</button>
        <button class="nav-button" routerLink="/bienvenida">Salir</button>
    </div>
</nav>

<div class="game-container">

    <h2 class="game-subtitle">¿Qué país es este?</h2>
  
    <!-- Imagen de la bandera o mapa -->
    @if(paisActual()){
        <img [src]="paisActual()?.imagen" alt="Bandera o país" class="game-image">
    }
    
  
    <!-- Opciones -->
    <div class="options">
        @for(opcion of listaOpciones; track $index ){

            <button class="option-button" (click)="compararRespuesta(opcion)">{{opcion}}</button>
        }
    </div>
  
    <!-- Resultado parcial -->
    <div class="resultados">
      ✅ Correctas: {{ correctas }} | ❌ Incorrectas: {{ incorrectas }}
    </div>
  
</div>
@if(partidaGanada){
    <div class="modal">
      <div class="modal-content win">
        <h2>¡Ganaste! 🎉</h2>
        <p>✅ Adivinaste: {{ correctas }} veces</p>
        <p>❌ Fallaste: {{ incorrectas }} veces</p>
        <button class="modal-button" (click)="reiniciar()">Jugar de nuevo</button>
      </div>
    </div>
  }

  @if(partidaPerdida){
    <!-- Modal de Derrota -->
    <div class="modal">
      <div class="modal-content lose">
        <h2>¡Perdiste! 😢</h2>

        <p>❌ Fallaste: {{ correctas }} veces</p>
        <p>✅ Adivinaste: {{ incorrectas }} veces</p>
        
        <button class="modal-button" (click)="reiniciar()">Intentar otra vez</button>
      </div>
    </div>
  }